<div class="background">
    <div class="contenedor"> 
        <div class="col-12 text-center text-dark pt-2">
            <h1 class="titulo">RECETAS</h1>
        </div>
        <div class="row w-100 align-items-center">
            <div class="col-12 text-center  pt-2" id="btn">
                <button id="basic" type="button" mat-button (click)="ngOnInit()" routerLink="/inicio">
                    Empezar
                  </button>
            </div>
        </div>
    
    </div>

</div>


