@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
* {
    box-sizing: border-box;
  }

 .background{
    background-image: url("https://images.pexels.com/photos/1639556/pexels-photo-1639556.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    height: 100vh;
    display: grid;
    align-items:flex-end;
  }

.contenedor{
    background-color: #17222B;
    width: 100%;
    padding-bottom: 3em;
}
.titulo{
    font-size: 3rem;
    font-family: 'Marmelad', sans-serif;
    color: rgb(243, 196, 109);;
}
button {
    font-family: 'Marmelad', sans-serif;;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #000;
    font-weight: bold;
    background-color: rgb(243, 196, 109);
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }

  
