<div class="cont">
    <div class="p-0 pt-2 col-2" id="row">
        <button mat-icon-button color="basic" aria-label="back" routerLink="/inicio" class="back">
            <mat-icon>arrow_back</mat-icon>

        </button>
        <p class="seccion">¡Encuentra recetas para tu gusto!</p>
    </div>
</div>
<div class="select">
    <mat-form-field>
        <mat-select placeholder="Tipo de plato"  name="comida">
          <mat-option *ngFor="let op of tipo_plato" [value]="op.valor" routerLink="/filtrar">
            {{op.valor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
</div>
<div class="nom_recet">
    <p class="seccion">PLATOS FUERTES</p>
    <div class="plato_fuerte">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">POLLO A LA NARANJA</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/pollo_naranja.jpg">
            <mat-card-content>
                <p>
                    Tienen un balance perfecto entre dulce, picante y con un toque ácido
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn" routerLink="/visualizar">Ver más</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">CORDON BLEU DE POLLO</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/cordon.jpg">
            <mat-card-content>
                <p>
                    Es una receta de pechuga enrollada y rellena de queso y jamón. Es muy fácil de hacer y está delicioso.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">CHAULAFÁN ESPECIAL</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/chaulafan.jpg">
            <mat-card-content>
                <p>
                    Sin descripción
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div class="nom_recet">
    <p class="seccion">SOPAS</p>
    <div class="plato_fuerte">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">SOPA DE CAMARÓN</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/camaron.jpg">
            <mat-card-content>
                <p>
                    Es una receta popular en muchos países al rededor del mundo, debido a su delicioso sabor e infinidad de maneras de prepararlo, a este caldo se lo puede acompañar con verduras, fideos, en forma de crema o incluso combinado con otros mariscos
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">SOPA DE FIDEOS</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/fideos.jpg">
            <mat-card-content>
                <p>
                    Receta ecuatoriana de la sopa de fideos con queso y papas. Una sopita casera y deliciosa para todos en la casa.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">SOPA DE POLLO</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/sopa-pollo.jpg">
            <mat-card-content>
                <p>
                    Esta es la típica sopa que cuando hace frío te hace acordarte de tu casa.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div class="nom_recet">
    <p class="seccion">ENSALADAS</p>
    <div class="plato_fuerte">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">ENSALADA DE LECHUGA</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/lechuga.jpg">
            <mat-card-content>
                <p>
                    Ensalada de lechuga, manzana y maíz
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">ENSALADA RUSA</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/Ensalada-rusa.jpg">
            <mat-card-content>
                <p>
                    La ensalada rusa es una ensalada de papas y verduras con aderezo de mayonesa que se sirve como acompañamiento de muchos platos típicos en América Latina
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">ENSALADA ITALIANA</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/italiana.png">
            <mat-card-content>
                <p>
                    Ensalada fresca con zanahoria , pasta corta, jitomate, queso crema.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="nom_recet">
    <p class="seccion">DESAYUNOS</p>
    <div class="plato_fuerte">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">DESAYUNO CONTINENTAL</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/continental.jpg">
            <mat-card-content>
                <p>
                    Aporta las calorías y grasas necesarias para iniciar el día, pero moderadas en comparación al desayuno inglés o americano.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">PANCAKES CON FRUTAS</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/pancakes.jpg">
            <mat-card-content>
                <p>
                    Sin descripción
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="title">TORTILLA DE ACELGA</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/imagenes/tortilla_acelga.jpg">
            <mat-card-content>
                <p>
                    Sin descripción
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="btn">Ver más</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>