@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
*{
   
    background: #f7f7f7;
      
}
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Marmelad', sans-serif;
    font-size: bolder;
    text-decoration: underline;
    background-color: rgb(243, 196, 109);
    border-radius: 0.5rem;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-family: 'Marmelad', sans-serif;
    font-size: bolder;
  }
#row{
    display: flex;
    gap: 3rem;
    width: 100%;
}
.seccion{
    font-size: 1.2rem;
    font-family: 'Marmelad', sans-serif;
    font-weight: bolder;
    padding-top: 0.3rem;
}
#row .back:hover{
    color: orange;
  }

.imagen{
    display: grid;
    justify-content: center;
    padding-top: 3rem;
}
.titulo{
    font-family: 'Marmelad', sans-serif;
    padding: 2rem;
    font-size: bolder;
}
.icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 2rem;
}

.ingredientes{
    display: grid;
    justify-content: center;
    gap: 2rem;
}